@*By Victor Zacchi
DIT: D16128783
Masters in Advanced Software Development
Year: 1 
date: 04/12/2017*@     

@model IEnumerable<LibraryAppDIT.Models.Book>
@{
    ViewBag.Title = "Library";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#books").DataTable({
                ajax: {
                    url: "/api/books",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Title",
                        render: function (data, type, book) {
                            return "<a href='BookDetails/" + book.ISBN + "'>" + book.Title + "</a>";
                        }
                    },
                    {
                        data: "GenreType.Name"
                    },
                    {
                        data: "Author"
                    },
                    {
                        data: "publishedYear"
                    },
                    {
                        data: "ISBN",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-book-isbn=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#books").on("click", ".js-delete", function () {

                var deleteBtn = $(this);
                //bootbox.confirm("Are you sure you want to delete the customer", function (hasAnswer) {
                //if (hasAnswer) {

                if (confirm("Are you sure you want to delete this book?")) {
                    $.ajax({
                        url: "/api/books/" + deleteBtn.attr("data-book-isbn"),
                        method: "DELETE",
                        success: function () {
                            //console.log("Success")
                            table.row(deleteBtn.parents("tr")).remove().draw();
                        }
                    });
                }
            });
        });
    </script>


<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/pie.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<div id="chartPiedivBookGenres"></div>														

<link href="~/Content/Library.css" rel="stylesheet" />
<script src="~/Scripts/PieChartOfBookGenres.js"></script>

}
<body onload="initializePieChartOfBookGenres();">

    <div align="center">
        <h2>Books</h2>
    </div>
    <br />

    @Html.ActionLink("New Book", "BookForm", "Books", null, new { @class = "btn btn-primary" })

    <br />
    <br />

    <table id="books" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Author</th>
                <th>Published Year</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</body>

<br />

<div align="center">
    <h2>Books by Genre</h2>
</div>
<div id="chartPiedivBookGenres" style="width: 1024px; height: 400px"></div>
