@*By Victor Zacchi
    DIT: D16128783
    Masters in Advanced Software Development
    Year: 1
    date: 04/12/2017*@  

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DIT Library</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
        At vero eos et accusam et justo duo dolores et ea rebum. 
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
    
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <div class="container">
            <img src="~/Content/Images/bookimg1.png" class="img-rounded" alt="Books" width="254" height="200">
        </div>
    </div>
    <div class="col-md-4">
        <div class="container">
            <img src="~/Content/Images/bookImg2.png" class="img-circle" alt="Books2" width="254" height="200">
        </div>
    </div>
    <div class="col-md-4">
        <div class="container">
            <img src="~/Content/Images/bookImage3.png" class="img-rounded" alt="Books3" width="254" height="200">
        </div>
    </div>
</div>